* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-me {
    text-align: justify;
    width: 53rem;   
    height: auto;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #212020; /* Temnější šedá pro pozadí kontejneru */
    border: 1px solid #666666;
    border-radius: 8px;
}

.color-h-1 {
    position: relative;
    color: #FF5733; /* Změňte na barvu, kterou chcete použít */
    text-align: center;
}

.color-h-2 {
    position: relative;
    color: #FF5733; /* Změňte na barvu, kterou chcete použít */
    text-align: center;
}

.color-h-3 {
    position: relative;
    color: #FF5733; /* Změňte na barvu, kterou chcete použít */
    text-align: center;
}

.text-1 {
    color: white;
}
.text-2 {
    color: white;
}
.text-3 {
    color: white;
}

.posunuti {
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
}

.logo {
    position: absolute;
    object-fit: contain;
    top: 2rem;
    left: 5rem;
    width: 200px;
    height: auto;
  }

@media (max-width: 320px) {
    .about-me {
        position: absolute;
        top: 11rem;
        left: 0.8rem;
        width: calc(95% - 0.5rem);
        margin: 0 auto;
    }
    .text-1 {
        margin-top: -1rem;
    }
    .text-2 {
        margin-top: 0.5rem;
    }
    .text-3 {
        margin-top: 0.5rem;
    }
    .color-h-1 {
        position: relative;
        top: 0;
        left: 0%    
    }

    .color-h-2 {
        position: relative;
        top: 0.5rem;
        left: 0%   
    }

    .color-h-3 {
        position: relative;
        top: 0;
        left: 0%     
    }


    .posunuti{
        width: 50px;
        display: inline-block; 
    }



    .responsive {
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        width: 274px ;
    }
}


@media (min-width: 321px) and (max-width: 1024px) {
    .about-me {
        width: calc(100% - 1rem);
        margin-top: 10rem;
    }
    .color-h-1 {
        font-size: 1.5rem; /* Přizpůsobí velikost písma pro malé obrazovky */
      
        top: 1.5rem;
        left: 0%; 
    }

    .color-h-2 {
        font-size: 1.5rem; /* Přizpůsobí velikost písma pro malé obrazovky */
        top: 1rem;
        left: 0%;
    }

    .color-h-3 {
        left: 0%;
        top: 2rem;
        font-size: 1.5rem; /* Přizpůsobí velikost písma pro malé obrazovky */
        
    }
    .text-1 {
        font-size: 1rem; /* Přizpůsobí velikost písma pro malé obrazovky */
        text-align: left;
    }

    .text-2 {
        margin: 1rem 0 0 0;
        text-align: left;
        font-size: 1rem; /* Přizpůsobí velikost písma pro malé obrazovky */
    }
    .text-3 {
        margin: 2rem 0 0 0;
        text-align: left;
        font-size: 1rem; /* Přizpůsobí velikost písma pro malé obrazovky */
    }
    .posunuti {
        margin-top: 1rem;
        flex-direction: column; /* Upraví flexbox na sloupcový směr pro malé obrazovky */
    }
    .logo {
        width: 200px; /* Zmenší logo pro malé obrazovky */
        object-fit: contain;
    }

    .responsive {
        width: calc(100% - 2rem);
        height: 13rem; /* Zachová proporce videa */
        margin: 0 auto; /* Centruje video */
    }

    .text-4 {
       position: relative;
       top: 230cap;
       left: 0%;
       color: white;
    }
}

@media (min-width: 321px) and (max-width: 1024px) and (orientation: landscape) {
    .responsive {
        width: 40em;
        height: 25em; /* Zachová proporce videa */
        margin: 0 auto; /* Centruje video */
    }
}
