* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-body {
  background-color: #1A1C1F;
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.welcome-website {
  text-align: center !important;
  padding-top: 3rem;
  margin: 0 auto;
  width: 70%;
  color: rgb(196, 205, 205);
  font-family: play;
  font-size: 1rem;
}

.change_link {
  text-decoration: none;
  color: rgb(200, 45, 45);
  font-weight: bold;
}

.change_link:hover {
  color: rgb(212, 152, 13);
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
}

.social-icon {
  margin: 0 0.8rem;
  font-size: 24px;
  color: #E49090;
}

a:hover {
  color: rgb(212, 152, 13);
}

.change-link {
  color: #ffffff;
  text-decoration: none;
}


@media (max-width:320px) {
  .little-change {
    margin-top: 0.1rem;
    width: 20rem;
    height: 180px;
  }


  .social-icons-container{
    position: absolute;
    top: 11rem;
    right: 2rem;
  }
}

@media (min-width: 321px) and (max-width: 1020px) {
  .little-change{
    margin-top: 0.1rem;
    width: 22rem;
    height: 180px;
  }

  .social-icons-container{
    position: absolute;
    width: 5rem;
    top: 12rem;
    right: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 1020px) and (orientation: landscape) {
  .little-change{
    margin-top: 0.1rem;
    width: 22rem;
    height: 180px;
  }

  .social-icons-container{
    position: absolute;
    width: 5rem;
    top: 1rem;
    right: 2rem;
  }
}